<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admindashboard}">
<body>
<section th:fragment="mainContent">
    <h2 class="mb-3">Quản lý người dùng</h2>
    <div class="mb-3">
        <a class="btn btn-primary" th:href="@{/admin/users/add}">Thêm người dùng</a>
    </div>
    <table class="table table-hover table-striped align-middle">
        <thead>
        <tr><th>ID</th><th>Tên</th><th>Email</th><th>SĐT</th><th>Vai trò</th><th>Actions</th></tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}" th:if="${u.role.roleName != 'ADMIN'}">
            <td th:text="${u.userId}"></td>
            <td th:text="${u.fullName}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.phoneNumber}"></td>
            <td th:text="${u.role.roleName}"></td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{'/admin/users/edit/' + ${u.userId}}">Sửa</a>
                <a class="btn btn-sm btn-danger" th:href="@{'/admin/users/delete/' + ${u.userId}}" onclick="return confirm('Xóa người dùng này?')">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>



</body>
</html>
